<!doctype html>

<html>
<head>
  <title>HCI Project Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>




<body>

<div class="topnav" id="myTopnav">
  <a href="../../project/{{viewmessageName}}"><center><img src="../../images/messageIcon.png" alt="Message image" class="mailimg_main"><font size="3"color="black"><b>{{viewmessageName}}</b></font></center></a>
</div>

<!--     <div class="jumbotron" id="indexJumbo">
      <a href="/"><img class="img" id="logoImg"></a>
      <center><h4>MentorMe</h4></center>
      <center><p class="tagline">Find a Mentor &middot; Find a Mentee </p></center>
    </div> -->


<!-- </br>
    <center><h4>VIEW MESSAGE:</h4></center>
</br> -->
<!-- </br>
    <center><img src="../../images/messageIcon.png" alt="Message image" class="mailimg_main"></center>
</br> -->

</br>
</br>
</br>
  <div class="container" id="viewContainer">
    <div class="project" id="reciever">
      <a href="../../project/{{viewmessageName}}"><h5 style="float:left"><font size="3">{{viewmessageName}}</font></h5></a><a href="../../settings"><h5 style="float:right"><font size="3">Me</font></h5></a>
    </div>
</br>
</br>
<div class="container" id="theirChat">
    <div class="message">
      <p id="theirMessage">{{message}}</p>
    </div>
</div>
</br>
<div class="container" id="myChat">
    <div class="mymessage">
      <p id="myMessage">{{mymessage}}</p>
    </div>
</div>

</br>
<!-- <div class="container"> -->
    <div class="sentMessage">
      <div class="sendBox">
        <input type="text" class="form-control" id="message" placeholder="Message" name="message">
      <a href="#" id="submitBtn" class="btn btn-default" value="Send" style="float:right">Send</a>
      <div class="timeInput" id="mytime"></div>
      </div>
<!--     </div> -->
</div>
  </div>

    <!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
    <!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
    <!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->

  <!-- SEND MESSAGE OPTION - LAB 5 FOR REFERENCE
  <form id="addFriendForm" role="form" method="get" action="/add">
    <h3>Send a Message</h3>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
      </div>
      <div class="form-group">
        <label for="description">Message:</label>
        <input type="text" class="form-control" id="description" placeholder="Message" name="description">
      </div>
      <input type="submit" id="submitBtn" class="btn btn-default" value="Send Message"></input>
  </form> -->



   <!--  {{#each projects}}
    <div class="project" id="{{id}}">
      <a href="project/{{name}}" class="thumbnail">
        <img src="images/{{image}}" class="img">
        <p>{{name}}</p>
      </a>
    </div>
    {{/each}} -->


<!-- View my Profile for Nav BAr
<a href="../../myProject/"><img alt="Profile image" class = "img" id="myProfile"></a> -->

<!-- NAV STARTS HERE -->
<div id="nav">

<li><img src="../../images/backarrow.png" alt="Back image" class="backimg"></li>
<li><a href="/"><img src="../../images/homeicon.png" alt="Home image" class="homeimg"></a></li>
<li><a href="../"><img src="../../images/messageIcon.png" alt="Message image" class="mailimg"></a></li>
<li><a href="../../settings/"><img src="../../images/settings.png" alt="Settings image" class="settingsimg"></a></li>
<li><a href="../../FAQ/">FAQ</a></li>

</div>
<!-- NAV ENDS HERE -->



  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/introHCI.js"></script>
  <script src="/js/messages.js"></script>





</body>
</html>
